/*.arriba1{
    display: flex;
    background-color: blue;*
    justify-content: space-between;


}*/
.header {
    position: fixed; /* Fija el header en la parte superior de la ventana de visualización */
    top: 0; /* Fija el header en la parte superior */
    left: 0;
    width: 100%; /* Ancho del header al 100% de la ventana */
    background-color: white; /* Color de fondo, puedes cambiarlo */
    color: #fff; /* Color del texto, puedes cambiarlo */

}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
body {
    overflow-x: hidden;
}
.width_180px{
    width: 180px;
    justify-content: center;
}


.width_1100px{
    min-width: 1100px;
    
}

.width_1400px{
    min-width: 1400px;
    
}


.width_1500px{
    min-width: 1500px;
    
}

.width_1700px{
    min-width: 1500px;
    
}

.static_header{
    background-color: white;
    height:90px;
}


.linea_pizzas{
    background-image: url('img/pizzitasfondoblancoarriba2.png');
    height: 90px;
}

.linea_pizzas2{
    background-image: url('img/pizzitasfondoblancoarriba2.png');
    height: 110px;
}
.bajar_objeto15px{
    margin-top: 20px;
}
.background_orange_large{
    max-height: 335px;
    background-color: rgb(256, 100, 4);
}

.colorbackground_orange{
    background-color:rgb(256, 100, 4) ;
}
.colorbackground_white{
    background-color: white;
}

.background_orange_large_bienvenido{
 
    

    aspect-ratio: 2/1;
    
    height: 310px;

    background-color: rgb(256, 100, 4);
}
.promo_pizza_md{
    margin-top: 15px;
    background-color: rgb(256, 100, 4);
    max-height: auto;    
}

.img_auto{
    width: 100%;
    max-height: 100%;
}

.topmargin15px{
    margin-top: 15px;;
}
.topmargin40px{
    margin-top: 40px;;
}

.img_bienvenidolittle{
    max-height: 150px;
    max-width: 350px;
    width: 100%;
}

.margin_lades_cero{
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
.height_auto{
    height: auto;
}
.height_50px{
    height: 50px;

}

.height_60px{
    height: 60px;
}
.height_80px{
    height: 80px;
}
.height_100px{
    height:100px;
}
.height_120px{
    height:120px;
}
.height_150px{
    height: 150px;
}
.height_165px{
    height: 160px;
}
.height_400px{
    height: 360px;
}

.height_430px{
    height: 430px;
}

.height_280px{
    height:280px ;
}

.height_240px{
    height: 240px;
}
.height_250px{
    height: 250px;
}

.height_1150px{
    height: 1150px;
}
.height_1200px{
    height: 1200px;
}

.height_200px{
    height: 200px;
}

.height_210px{
    height: 210px;
}


.img_repartidor{
    height: 320px;
    width: 360px;
}



.colorbackground_black{
    background-color: black;

}

.margin_left_10px{
    margin-left: 10px;
}

.text_height_auto{
    min-height: 120px;
    max-height: 300px;
    height: auto;
}
#mensaje_tiendamascercana{
    background-color: white;
    min-height: 100px;
    max-width: 500px;

}
#mensaje_tiendamascercanasm{
    background-color: white;
    height: 80px;
    

}

.width_1100px{
    min-width: 1100px;
    
}

.width_210{
    width: 210px;
}

.cuadrado_de_abajo{
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    height: 210px;
    max-width: 210px;
    width: auto;
    min-width: 0px;

}
.titulo_cuadrado{
    height: 22px;
    max-width: 210px;
    width: auto;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
.cuadrado_restante{

    margin-left: 0px;
    margin-right: 0px;
    max-width:210px;
    width: auto;
    height: 188px;
}

.separador_cuadrados{

    width: 12px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    background-color: white;
    height: 210px;
}

.rectangulobienvenidos{
    
    width: 385px;
    
}

.margincero{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}


.contenedor3 {
    display: grid;
    grid-template-columns: repeat(5, 210px); /* Tamaño fijo de 210px por div */
    grid-gap: 10px; /* Espacio entre los divs */
    max-width: 1100px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    overflow: auto; /* Agrega desbordamiento en pantallas más pequeñas */
}
.contenedor3 div{
    width: 100%;
}
.contenedor_afuera {
    max-width: 1100px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en pantallas más grandes */
}

.contenerdor_adentro{
    display: grid;
    grid-template-columns: repeat(5, 210px); /* Tamaño fijo de 210px por div */
    grid-gap: 10px; /* Espacio entre los divs */
    overflow-x: auto;
}

.contenerdor_adentro div {
     /* Color de fondo, puedes cambiarlo */
    width: 100%; /* Ocupa el 100% del espacio disponible en la celda */
}

.contenedor {
    justify-content: center; 
    display: flex;
    overflow-x: auto; /* Agrega desbordamiento horizontal en pantallas más pequeñas */
}

.contenedor div {
    width: 210px; /* Tamaño fijo de 210px por div */
    min-width: 210px;
     /* Color de fondo, puedes cambiarlo */
    margin-right: 10px; /* Espacio entre los divs */
}

.contenedor div:last-child {
    margin-right: 0; /* Elimina el margen derecho del último div */
}
@media (max-width: 1100px) {
    .contenedor {
        justify-content: flex-start; /* Alinea a la izquierda en pantallas más pequeñas */
    }
}

.iconito{
    width: 27px;
    height: 27px;
}
